/* @media only screen and (max-width: 1215px) {
    header nav a{
        display: none;
    }

    .fa-magnifying-glass{
        display: none;
    }

    .fa-bars{
        display: grid;
    }
} */

/* @media only screen and (max-width: 1778px) {
    body{
        font-size-adjust: 1;
    }
}

@media only screen and (max-width: 872px) {
    .fa-magnifying-glass {
        display: none;
    }
}

@media only screen and (max-width: 792px) {
    header nav a{
        display: none;
    }

    .fa-bars {
        display: block;
    }
} */

@media only screen and (max-width: 1075px){
    .banner-text h1{
        font-size: 54px;
    }

    .banner-text h2{
        font-size: 34px;
    }

    .banner-text p{
        font-size: 14px;
    }
}