@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    height: 40px;
    background-color: rgb(43, 213, 200);
    padding: 0px 20px;
    width: 100%;
}

.details label{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.details-container{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}

.details-container i{
    padding: 0px 20px;
}

header{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100px;
    align-content: center;
    justify-items: center;
    width: 100%;
    /* background-color: red; */
}

.mysocial{
    display: none;
}

header nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    justify-items: center;
    gap: 20px;
}

header nav a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 213, 200);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
}

header nav a:hover{
    color: rgb(255, 0, 0);
}

header nav i{
    font-size: 1.4rem;
    color: rgb(43, 213, 200);
}

header nav i:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.fa-bars {
    display: none;
}

.sidebar{
    display: none;
    /* grid-template-rows: repeat(2, 1fr); */
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.9);
    z-index: 9;
    gap: 20px; 
    /* align-items: center; */
}

.sidebar-container{
    display: grid;
    align-self: center;
    justify-self: center;
    margin-top: 100px;
    gap: 20px;
}

.sidebar-container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
}

/* .sidebar-container a:hover{
    color: rgb(43, 213, 200);
} */

.sidebar-container i{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
}

.sidebar a:hover{
    color: rgb(43, 213, 200);
}

.sidebar i:hover{
    color: rgb(43, 213, 200);
}

.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 500px;
    align-content: center;
    justify-items: center;
    padding: 0px 20px;
    gap: 20px;
}

#carouselExampleFade {
    width: 100%;
}

/*

.carousel-item img{
    background-size: cover;
    height: 100%;
    width: 100%;
}*/

.carousel-item img{
    height: 500px;
    object-fit: cover;
    width: 100%;
}

#myCarousel-indicators>button {
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.carousel-caption{
  margin-bottom: 20px;
}

.carousel-caption h5{
    font-size: 1.8rem;
}

.carousel-caption p {
    font-size: 1.8rem;
}

.banner-text{
    display: grid;
    /* align-content: center; */
    /* justify-items: center; */
    /* background-color: red; */
    width: 100%;
}

.banner-text h1{
    font-family: 'Roboto', sans-serif;
    font-size: 7.4rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.banner-text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 6.4rem;
    font-weight: 600;
    color: rgb(43, 213, 200);
}

.banner-text p{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.banner-text-btn button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 10px 20px;
}

.banner-text-btn button:hover{
    background-color: rgb(32, 32, 32);
}

.currency{
    display: grid;
    grid-template-rows: 10% 80%;
    height: 600px;
    width: 100%;
    align-content: center;
    justify-items: center;
    /* background-color: blue; */
}

.currency .currency-label{
    display: grid;
    width: 100%;
    /* background-color: red; */
    align-content: center;
    justify-items: center;
}

.currency label{
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
}

.currency label span{
    color: rgb(43, 213, 200);
}

.currency .three-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: orange; */
    padding: 0px 100px;
    align-content: center;
    justify-items: center;
    gap: 40px;
}

.img-1{
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
    height: 70%;
    background-image: url('pictures/Bit1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 20px;
}

.img-2 {
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
    height: 70%;
    background-image: url('pictures/Bit2.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 20px;
}

.img-3 {
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
    height: 70%;
    background-image: url('pictures/Bit3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 20px;
}

.bitcoin-transaction{
    display: grid;
    margin-top: 50%;
    background-color: rgb(255, 255, 255);
    height: 70%;
    border: 1px solid rgb(207, 206, 206);
    align-content: center;
    justify-items: center;
    padding: 0px 10px;
    gap: 15px;
}

.bitcoin-transaction label{
    text-align: center;
    font-size: 3.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.bitcoin-transaction p{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.bitcoin-exchange {
    display: grid;
    margin-top: 50%;
    background-color: rgb(255, 255, 255);
    height: 70%;
    border: 1px solid rgb(207, 206, 206);
    align-content: center;
    justify-items: center;
    padding: 0px 10px;
    gap: 15px;
}

.bitcoin-exchange label {
    text-align: center;
    font-size: 3.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.bitcoin-exchange p {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.bitcoin-investment {
    display: grid;
    margin-top: 50%;
    background-color: rgb(255, 255, 255);
    height: 70%;
    border: 1px solid rgb(207, 206, 206);
    align-content: center;
    justify-items: center;
    padding: 0px 10px;
    gap: 15px;
}

.bitcoin-investment label {
    text-align: center;
    font-size: 3.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.bitcoin-investment p {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.img-1 button{
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 16%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-1 button:hover{
    background-color: rgb(43, 213, 200);
    border: 1px solid rgb(43, 213, 200);
}

.img-2 button {
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 16%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-2 button:hover {
    background-color: rgb(43, 213, 200);
    border: 1px solid rgb(43, 213, 200);
}

.img-3 button {
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 16%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-3 button:hover {
    background-color: rgb(43, 213, 200);
    border: 1px solid rgb(43, 213, 200);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
    align-content: center;
    /* justify-items: center; */
    padding: 0px 100px;
    gap: 40px;
    background-color: aqua;
    width: 100%;
}

.about-text{
    display: grid;
    grid-template-rows: 20% 80%;
}

.about-text label{
    font-size: 3.8rem;
    font-family: 'Roboto', sans-serif;
}

.about-text label span{
    color: rgb(43, 213, 200);
}

.about-text p{
    font-size: 1.8rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.about-img{
    display: grid;
    align-content: center;
    justify-items: center;
}

.about-img img{
    /* object-fit: cover; */
    /* background-position:  */
    height: 489px;
    width: 628px;
}

.services{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 750px;
    width: 100%;
    padding: 0px 100px;
    gap: 60px;
    align-items: center;
    /* align-content: center; */
    /* justify-items: center; */
}

.first-service{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 0px 20px;
    gap: 30px;
}

.strong-security{
    display: grid;
    height: 330px;
    /* grid-template-rows: repeat(3, 1fr); */
    background-color: rgb(16, 5, 5);
    align-content: center;
    justify-items: center;
    padding: 0px 20px;
    gap: 10px;
}

.strong-security label{
  text-align: center;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.strong-security p{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fa-shield-halved{
    font-size: 8.2rem;
    color: rgb(255, 255, 255);
}

.world-coverage{
    display: grid;
    height: 330px;
    /* grid-template-rows: repeat(3, 1fr); */
    background-color: rgb(43, 213, 200);
    align-content: center;
    justify-items: center;
    padding: 0px 20px;
    gap: 10px;
}

.world-coverage label {
    text-align: center;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.world-coverage p {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fa-globe{
    font-size: 8.2rem;
    color: rgb(255, 255, 255);
}

.second-service{
    display: grid;
    grid-template-rows: 10% 10% 80%;
}

.second-service label{
    font-size: 3.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.second-service label span{
    color: rgb(43, 213, 200);
}

.second-service p{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
}

.services-iframe{
    display: grid;
    width: 605px;
    align-content: center;
    justify-items: center;
    background: linear-gradient(rgb(255, 233, 233), rgb(255, 178, 181));
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.2);
    height: 360px;
    border-radius: 10px;
}

.team{
    display: grid;
    grid-template-rows: 20% 80%;
    height: 800px;
    width: 100%;
}

.team-text{
    padding: 0px 100px;
    width: 100%;
}

.team-text label{
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    color: rgb(0, 0, 0);
}

.team-text label span{
    color: rgb(43, 213, 200);
}

.team-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
}

.team-members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 0px 100px;
    gap: 30px;
    align-items: center;
    /* align-content: center; */
    /* justify-items: center; */
}

.team-card .team-img1{
    background-image: url('pictures/ceo1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 384px;
}

.team-card .team-img2 {
    background-image: url('pictures/ceo2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 384px;
}

.team-card .team-img3 {
    background-image: url('pictures/ceo3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 384px;
}

.team-info{
    display: grid;
    height: 192px;
    align-content: center;
    justify-items: center;
}

.team-info label{
    font-size: 2.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.team-info small {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.team-info p{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.team-social{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.team-social a{
    text-decoration: none;
}

.social-i{
    display: grid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    align-content: center;
    justify-items: center;
}

.social-i:hover{
    background-color: rgb(43, 213, 200);
}

.social-i i{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.contactus{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 700px;
    padding: 0px 100px;
    align-items: center;
    /* justify-items: center; */
    gap: 40px;
}

.contact-form{
    display: grid;
    grid-template-rows: 15% 85%;
    height: 550px;
}

.contact-form label{
    font-size: 3.8rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.contact-input{
    display: grid;
    grid-template-rows: 15% 15% 15% 50%;
    gap: 10px;
}

.contact-input input{
    border: 2px solid rgb(207, 206, 206);
    font-size: 1.8rem;
    height: 70px;
    padding: 0px 20px;
    /* color: rgb(207, 206, 206); */
}

.contact-input input:focus{
    outline: none;
    border-color: rgb(43, 213, 200);
}

.contact-input textarea {
    border: 2px solid rgb(207, 206, 206);
    font-size: 1.8rem;
    padding: 10px 20px;
    /* color: rgb(207, 206, 206); */
    height: 227px;
}

.contact-input textarea:focus {
    outline: none;
    border-color: rgb(43, 213, 200);
}

.contact-input button{
    height: 50px;
    width: 160px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    cursor: pointer;
}

.contact-input button:hover{
    background-color: rgb(32, 32, 32);
}

.request{
    display: grid;
    /* align-items: center; */
    align-content: center;
    justify-items: center;
    background: linear-gradient(rgba(0 , 0, 0, 0.8) , rgba(0 , 0, 0, 0.8)) , url('pictures/request.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
    /* padding: 40px 40px; */
}

.request-container{
    display: grid;
    border-style:dotted;
    width: 90%;
    height: 500px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    align-content: center;
    justify-items: center;
    padding: 0px 20px;
    /* border: 2px solid rgb(255, 255, 255); */
}

.request-container label{
    font-size: 3.4rem;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.request-container p{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.request-container button{
    height: 60px;
    width: 170px;
    color: rgb(43, 213, 200);
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: 500;
}

.footer-three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    background-color: rgb(0, 0, 0);
    align-content: center;
    justify-items: center;
    padding: 0px 60px;
    gap: 100px;
}

.contact-three{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.contact-three label{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
}

.contact-three-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
}

.contact-three-link{
    display: grid;
    height: 60px;
    width: 60px;
    border: 1px solid rgb(255, 255, 255);
    justify-items: center;
    align-content: center;
}

.contact-three-link i{
    font-size: 1.8rem;
}

.contact-three-link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contact-three-link a:hover{
    color: rgb(43, 213, 200);
}

.social-three{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.social-three label {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
}

.social-three-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-items: center;
}

.social-three-link {
    display: grid;
    justify-items: center;
    align-content: center;
}

.social-three-link i {
    /* color: rgb(255, 255, 255); */
    font-size: 2rem;
}

.social-three-link a{
    text-decoration: none;
    color: rgb(43, 213, 200);
}

.social-three-link a:hover{
    color: rgb(255, 255, 255);
}

.news-three{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.news-three label{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
}

.news-three-container {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    justify-items: center;
    align-content: center;
}

.news-three-container input{
    height: 60px;
    width: 250px;
    border: 1px solid rgb(207, 206, 206);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.6rem;
    padding: 0px 15px;
}

.news-three-container input:focus{
    outline: none;
    border: 1px solid rgb(43, 213, 200);
}

.news-three-container button{
    height: 60px;
    width: 100px;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 213, 200);
    border: 1px solid rgb(43, 213, 200);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.copyright{
    display: grid;
    justify-items: center;
    align-content: center;
    height: 50px;
    background-color: rgb(43, 213, 200);
}

.copyright label{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media (max-width: 75em){

    .banner{

        height: 800px;
        /* background-color: blueviolet; */

    }

    .banner-text{
        padding: 40px;
    }

    .carousel-item img{
        height: 800px;
    }

    .currency{
        grid-template-rows: 5% 95%;
        height: 1200px;
    }

    .currency .three-box{
        /* background-color: red; */
        grid-template-columns: repeat(2, 1fr);
    }

    .about{
        /* background-color: darkcyan; */
        /* align-items: center; */
        height: 900px;
    }

    .about-text label{
        font-size: 2.8rem;
    }

    .about-text p{
        font-size: 1.6rem;
    }


    .services{
        /* grid-template-rows: 30% 30%; */
        padding: 0px 80px;
        gap: 5px;
    }

    .first-service{
        align-content: center;
        justify-items: center;
        padding: none;
    }

    .second-service{
        align-content: center;
        justify-items: center;
        /* grid-template-rows: repeat(3, 1fr); */
    }

    .services-iframe{
        height: 360px;
        width: 605px;
    }

    .services-iframe iframe{
        width: 560;
        height: 315;
    }
}

@media only screen and (max-width: 64em){
    .details-container i{
        padding: 0px 10px;
    }

    header nav{
        gap: 0px;
    }

    header nav a{
        font-size: 1.4rem;
    }

    .banner{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        height: 1400px;
        padding: 0px 0px;
    }

    .currency{
        grid-template-rows: 5% 95%;
        align-content: center;
        justify-items: center;
        height: 3000px;
        /* background-color: coral; */
    }

    .currency .three-box{
        grid-template-columns: none;
        padding: 0px 50px;
        width: 80%;
        grid-template-rows: repeat(3, 30%);
        gap: 50px;
    }

    .currency label{
        font-size: 2.4rem;
    }

    .img-1{
        height: 50%;
    }

    .img-2 {
        height: 50%;
    }

    .img-3 {
        height: 50%;
    }

    .bitcoin-transaction{
        height: 100%;
    }

    .bitcoin-exchange {
        height: 100%;
    }

    .bitcoin-investment {
        height: 100%;
    }

    .img-1 button{
        margin-top: 50%;
    }

    .img-2 button {
        margin-top: 50%;
    }

    .img-3 button {
        margin-top: 50%;
    }
    /* .img-1{
        width: 50%;
        padding: 0px 0px;
    }

    .img-2 {
        width: 50%;
    }

    .img-3 {
        width: 50%;
    } */

    .about{
        grid-template-columns: none;
        grid-template-rows: 30% 30%;
        height: 900px;
    }

    /* .about-img{

        justify-items: center;
        left: 0;
        right: 0;
        align-content: center;
        justify-self: center;
    } */

    .about-img img{
        height: 436px;
        width: 498px;
        align-self: center;
    }

    .services{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 40%);
        height: 1600px;
        align-content: center;
        /* align-items: center;
        justify-items: center; */
    }

    .second-service{
        grid-template-rows: 20% 20% 60%;
    }

    .team{
        height: 3200px;
        /* align-content: center; */
        grid-template-rows: 5% 95%;
    }

    .team-text p{
        font-size: 2rem;
    }

    .team-members{
        /* align-content: center; */
        /* justify-items: center; */
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }

    .team-card .team-img1{
        height: 680px;
    }

    .team-card .team-img2 {
        height: 680px;
    }

    .team-card .team-img3 {
        height: 680px;
    }

    .team-info{
        height: 250px;
        gap: 5px;
    }

    .contactus{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        height: 1400px;
    }

    .footer-three{
        grid-template-columns: repeat(2, 1fr);
        height: 400px;
    }
}

@media only screen and (max-width: 48em){
    .details{
        display: none;
    }

    header{
        grid-template-columns: repeat(2, 1fr);
        align-content: none;
        justify-items: none;
        background-color: rgb(255, 255, 255);
        width: 100%;
        position: fixed;
        z-index: 9999;
        /* gap: 180px; */
    }

    .mysocial{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* align-items: center; */
        justify-self: center;
        color: rgb(255, 255, 255);
        font-size: 2.4rem;
    }

    .mysocial i{
        padding: 0px 10px;
        /* color: rgb(43, 213, 200); */
    }


    header nav a{
        display: none;
    }

    .fa-magnifying-glass{
        display: none;
    }

    .fa-bars{
        display: grid;
        font-size: 1.6rem;
        cursor: pointer;
    }

    .sidebar.hide {
        display: none;
        transition: all 1s;
    }

    .sidebar{
        display: grid;
        transition: all 1s;
    }

    .banner{
        height: 1600px;
    }

    .currency{
        grid-template-rows: 3% 97%;
        height: 2400px;

    }

    .currency label{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 500;
    }

    .currency .three-box{
        padding: 0px 20px;
    }

    .about{
        /* grid-template-rows: 35% 35%; */
        padding: 0px 40px;
    }

    .about-img img {
        height: 311px;
        width: 400px;
        align-self: center;
    }

    .services{
        padding: 0px 40px;
    }

    .services-iframe{
        height: 230px;
        width: 395px;
    }

    .services-iframe iframe{
        height: 202.50px;
        width: 360px;
    }

    .footer-three {
        grid-template-columns: repeat(2, 1fr);
        height: 200px;
        gap: 40px
    }

    .social-three-link{
        padding: 0px 10px;
    }

    .news-three{
        display: none;
    }

    .contactus{
        padding: 0px 40px;
    }

    .team-members{
        padding: 0px 40px;
    }
}

@media only screen and (max-width: 30em){
    /* header{
        align-items: center;
        justify-items: center;
    } */

    /* header img{
        align-items: center;
    }

    .mysocial{
        align-items: center;
    }

    .fa-bars{
        align-items: center;
    } */

    .banner{
        height: 1800px;
    }

    .currency{
        padding: 0px 0px;
    }

    .currency .three-box{
        padding: 0px 20px;
        width: 100%;
    }

    .request-container{
        padding: 0px 10px;
    }

    .contactus {
        padding: 0px 20px;
    }

    .team-members {
        padding: 0px 20px;
    }

    .footer-three{
        padding: 0px 20px;
        gap: 10px;
    }

    .contact-three label{
        font-size: 1.8rem;
    }

    .social-three label{
        font-size: 1.8rem;
    }

    .contact-three-link{
        height: 45px;
        width: 45px;
    }

    .contact-three-link i{
        font-size: 1.6rem;
    }

    .social-three-link i{
        font-size: 1.6rem;
    }

    .copyright label{
        font-size: 1.4rem;
        text-align: center;
    }

    .services{
        /* background-color: red; */
        padding: 0px 20px;
    }

    .second-service{
        grid-template-rows: 35% 35% 30%;
    }

    .second-service label{
        font-size: 2.4rem;
    }

    .services-iframe {
        height: 200px;
        width: 275px;
        border: none;
        border-radius: 0px;
        background: none;
    }

    .services-iframe iframe {
        height: 135px;
        width: 240px;
    }

    .team-members{
        padding: 0px;
    }

    .team-text{
        padding: 0px 20px;
    }

    .team-text label{
        font-size: 2.4rem;
    }

    .team-text p{
        font-size: 1.4rem;
    }

    .about{
        padding: 0px 20px;
    }

    .about-img img {
        height: 217px;
        width: 280px;
        align-self: center;
    }

    .about-text label {
        font-size: 2.2rem;
    }
}
